@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

@theme {
  --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Pretendard", sans-serif;
  background-color: #FDFBF7; /* 따뜻한 베이지/화이트 톤 */
}

/* Masonry Grid */
.my-masonry-grid {
  display: flex;
  margin-left: -24px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 24px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 24px;
}
